<li id="<%=tabs_list_item_id%>" class="OrganizerWorkspaceTab">
    <div class="OrganizerWorkspaceTabContent">
        <a class="OrganizerWorkspaceTabInactiveLink" href="<%=tab_content_id%>"><%=tab_name%></a>
        <%= image_tag "close.gif", 
                      :id => tabs_list_item_close_id,
                      :class => "OrganizerWorkspaceTabClose" %>
    </div>
</li>
