<div id="<%=tab_content_id%>" class="organizer-workspace-body-tab-content">
    <%= render :partial => 'create_portfolio_instance_tab_content', :locals => { :archive => archive,
                                                                                 :portfolio => portfolio } %>
</div>
