<% images.each do | image | %>
    <% image_tag_id = "organizer-preview-image-#{tab_id}-#{collection_id}-#{image.id}" %>
    <%= organizer_image_tag image, image_tag_id, "org-prev-img" %>
    <%= javascript_tag "var newDraggable = new Draggable( '#{image_tag_id}', { ghosting: true,
                                                                               revert: true } );
                        CM_ORGANIZER.previewControl.addDraggable( newDraggable, '#{tab_id}', '#{image_tag_id}' );"
     %>
<% end %>
