<li id="<%=tabs_list_item_id%>" class="organizer-workspace-tab">
    <div class="organizer-workspace-tab-content">
        <a id="<%=tabs_list_item_link_id%>" class="organizer-workspace-tab-inactive-link" href="<%=tab_content_id%>"><%=tab_name%></a>
        <%= image_tag "close.gif", 
                      :id => tabs_list_item_close_id,
                      :class => "organizer-workspace-tab-close" %>
    </div>
</li>
