<!-- delete_portfolio_collection_form

    DESCRIPTION: form for deleting a portfolio_colleciton in a portfolio instance tab

    CLASS INSTANCE VARIABLES:
        @archive
        @portfolio_collection
        @tab_id
        @tab_content_id
        @image_area_container_id

 -->
<% deactivate_link_id = "organizer-dialog-form-response-deactivate-%s" % @portfolio_collection.id%>
<% delete_url = url_for( :controller => 'cm/organizer',
                         :action => 'delete_portfolio_collection',
                         :archive_id => @archive.id,
                         :portfolio_collection_id => @portfolio_collection.id,
                         :tab_id => @tab_id,
                         :tab_content_id => @tab_content_id,
                         :image_area_container_id => @image_area_container_id ) %>
<% form_tag( { :controller => 'cm/organizer',
               :action => 'delete_portfolio_collection' },
             { :id => 'organizer-dialog-form',
               :onSubmit => "var tabControl = CM_ORGANIZER.workspaceControl.getTabControl( '#{@tab_id}' );
                             if (tabControl) {
                                 return tabControl.deletePortfolioCollection( 'organizer-dialog-form', '#{delete_url}', '#{deactivate_link_id}' );
                             }
                             else {
                                 alert('Failed to get tabControl for delete...');
                                 return false;
                             } " } ) do %>
    <div id="ArchivePortfolioHeading">
        <p>Delete portfolio collection: <%= @portfolio_collection.collection.tag_line %></p>
    </div>
    <ul>
        <li>
            <div class="organizer-dialog-form-thumbnail-container" >
                <% imageTagId = "organizer-dialog-form-thumbnail-#{@portfolio_collection.id}" %>
                <%= organizer_portfolio_collection_thumbnail_tag( @portfolio_collection, "#{imageTagId}", "org-work-thumb") %><br/>
            <div>
        </li>
        <li>
            <a><%= submit_tag "Delete" %></a>
            <a id="<%=deactivate_link_id%>" href="#" class="lbAction" rel="deactivate"><button>Cancel</button></a>
        </li>
    </ul>
<% end %>
