<div class="ArchiveLowerNavigation">
    <%= link_to "Show Collection", cm_archive_collection_path( @archive, @collection ), :class => "NavLink" %>
    <%= link_to "Return To Archive", edit_cm_archive_path( @archive ), :class => "NavLink" %>
</div>
