<div class="ArchiveLowerNavigation">
  <%= link_to "> Organize It!", cm_archive_organizer_path(@archive), :class => "NavLink" %>
  <%= link_to "> Show Archive", cm_archive_path(@archive), :class => "NavLink" %>
</div>
