<%= render :partial => "heading", :locals => { :label => "Archive Portfolios" } %>
<div class="ArchiveList">
    <% if @portfolios %>
        <% @portfolios.each do | a_port | %>
            <%= link_to "> " + a_port.description, [ :cm, @archive, a_port ], :action => :edit, :class => "NavLink" %>
        <% end %>
    <%= link_to "> New portfolio", [ :cm, @archive, :portfolios ], :action => :new, :class => "NavLink" %>
    <% end %>
</div>
