<%= render :partial => "cm/archives/heading", :locals => { :label => "Archives" } %>
<div class="ArchiveList">
  <% if @archives %>
    <% @archives.each do | archive | %>
      <%= link_to "> " + archive.name, cm_archive_path( archive.id ), :class => "NavLink" %>
    <% end %>
  <% end %>
</div>
