<%= render :partial => "heading", :locals => { :label => "Archive Portfolios" } %>
<div class="ArchiveList">
    <% if @portfolios %>
        <% @portfolios.each do | a_port | %>
            <%= link_to "> " + a_port.description, cm_archive_portfolio_path(a_port.id), :class => "NavLink" %>
        <% end %>
    <% end %>
</div>
