<div id="Thumbnails" class="Thumbnails">
    <% image_show_views = @portfolio_collection.image_show_views.sort %>
    <% image_show_views.each do | showView | %>
        <% thumbnailElem = show_view_thumbnail_tag showView %>
        <% mainElem = show_view_show_tag showView %>
        <div class="Thumbnail">
            <%= link_to_function thumbnailElem do | page |
                page[:MainImage].replace_html mainElem
             end %>
        </div>
    <% end %>
</div>
