#organizer-body {
    position : static;
    display : block;
    overflow : auto;
    height : 100%;
    min-height : 700px;
    margin-left : 0%;
    margin-right : 0%;
}

#organizer-preview {
    position : static;
    padding-top : 5px;
    padding-right : 5px;
    padding-bottom : 5px;
    padding-left : 5px;
    border-width : 1px;
    border-color : black;
    border-style : solid;
    margin-top : 5px;
    margin-bottom : 5px;
    overflow : auto;
    height : 130px;
    white-space : nowrap;
    background : white;
}

.organizer-preview-content-for-tab {
    min-height : 80px;
}

.organizer-preview-loading {
    display : block;
    margin-right : auto;
    margin-left : auto;
}

.org-prev-img {
    display : inline-block;
    margin-top : 5px;
    margin-right : 2px;
    margin-bottom : 5px;
    margin-left : 2px;
    cursor : move;
}

.organizer-preview-content-for-collection-image-list {
    list-style-type : none;						     
}

.organizer-preview-content-for-collection-image-list li {
    float : left;
    margin-top : 5px;
    margin-right : 20px;
    margin-bottom : 5px;
    margin-left : 5px;
}

#organizer-workspace {
    position : static;
    width : auto;
    background : white;
    border-width : 1px;
    border-color : black;
    border-style : solid;
    margin-left : 0%;
    margin-right : 0%;
}

#organizer-workspace-tabs {
    position : relative;
    height : 50px;
    width : auto;
    padding-left : 0px;
    padding-bottom : 0px;
    border-bottom : 1px solid #CCCCCC;
    margin-bottom : 0px;
    background : white;
}

#organizer-workspace-body {
    display : block;
    position : static;
    height : auto;
    padding : 0px;
    border-width : 1px;
    border-color : black;
    border-style : solid;
    margin : 0px;
}

#organizer-workspace-body-loading img {
    display : block;
    margin-right : auto;
    margin-left : auto;
}

ul#organizer-workspace-tabs-list {
    display : block;
    position : absolute;
    bottom : 0px;
    left : 0px;
    height : 40px;
    padding-right : 0px;
    padding-bottom : 0px;
    padding-left : 0px;
    border : 0px;
    margin-right : 0px;
    margin-bottom : 0px;
    margin-left : 0px;
}

li.organizer-workspace-tab {
    display : block;
    float : left;
    height : 40px;
    width : 120px;
    padding : 0px;
    border : 0px;
    margin : 0px 7px 0px 0px;
    text-align : center;
}

li.organizer-workspace-tab div.organizer-workspace-tab-content {
    display : block;
    position : relative;
}

li.organizer-workspace-tab a {
    display : block;
    position : static;
    height : 26px;
    width : 106px;
    padding : 6px 6px 6px 6px;
    border : 1px solid #CCCCCC;
    margin : 0px 0px 0px 0px;
    color : #666666;
}

li.organizer-workspace-tab a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-style: normal;
    text-decoration : none;
}

li.organizer-workspace-tab a.organizer-workspace-tab-inactive-link {
    background-color : #DDDDDD;
}

li.organizer-workspace-tab a.organizer-workspace-tab-active-link {
    background-color : #FFFFFF;
}

li.organizer-workspace-tab img.organizer-workspace-tab-close {
    display : block;
    position : absolute;
    top : 6px;
    right : 6px;
    height : 8px;
    width : 8px;
    padding : 0px;
    border : 0px;
    margin : 0px;
}

.organizer-workspace-body-tab-content {
    display : block;
    position : static;
    overflow : auto;
    height : 100%;
    padding : 0px;
    margin-top : 0px;
    margin-bottom : 0px;
    margin-left : 0px;
    color : #555;
    font-size : 0.9em;
}

.organizer-workspace-body-tab-content ul {
    margin : 0;
    padding : 0;
    text-indent : 0;
    list-style-type : none;
}

.organizer-workspace-body-image-area {
    display : block;
    position : static;
    height : 100%;
    width : 100%;
    background-color : #ebf099;
}

.organizer-workspace-body-image-area li {
    float : left;
    margin-top : 5px;
    margin-right : 20px;
    margin-bottom : 5px;
    margin-left : 5px;
}

.organizer-workspace-body-form {
    float : left;
    height : 100%;
    width : 20%;
}

.organizer-workspace-body-form-form {
    display : block;
    position : static;
    height : auto;
    width : auto;
    margin : 10px;
    border : 0px;
    padding : 0px;
}

.organizer-workspace-body-form-form-ul {
    display : block;
    position : static;
}

.organizer-workspace-body-form-form-li {
    display : block;
    position : static;
}

.organizer-workspace-body-form-form img {
    display : inline-block;
}

.organizer-workspace-body-form-form label {
    display : inline-block;
    margin-bottom : 5px;
}

.organizer-workspace-body-form-form input {
    display : inline-block;
    margin-bottom : 10px;
}

.organizer-workspace-body-form-form p {
    display : inline-block;
    margin-bottom : 10px;
}

.organizer-form-enabled-button {
    display : inline-block;
    background: none repeat scroll 0 0 #DDDDDD;
    color : #666666;
    -moz-border-radius: 4px 4px;
}

.organizer-form-disabled-button {
    display : inline-block;
    background: none repeat scroll 0 0 #E6E6E6;
    color : #bbbbbb;
    -moz-border-radius: 4px 4px;
}

.organizer-workspace-body-with-form-image-area {
    float : right;
    top : 0px;
    right : 0px;
    height : 100%;
    width : 80%;
    background-color : #ebf099;
}

.organizer-workspace-body-with-form-image-area li {
    float : left;
    margin-top : 5px;
    margin-right : 20px;
    margin-bottom : 5px;
    margin-left : 5px;
    height : 110px;
    width : 160px;
    overflow : hidden;
    white-space : nowrap;
}

.org-work-thumb {
    display : inline;
    background : #eeeeee;
    padding-top : 5px;
    padding-right : 5px;
    padding-bottom : 10px;
    padding-left : 5px;
    border-top : 1px;
    border-right : 1px;
    border-bottom : 1px;
    border-left : 1px;
    border-style : solid;
    border-color : #cccccc;
    margin : 0px;
}

.organizer-workspace-body-tab-content-list-item-delete {
    position: relative;
    top: 0px;
    left: 2px;
    border : 0px;
}

.organizer-workspace-trash-container {
    display : block;
    position : absolute;
    right : 0px;
    bottom : 0px;
    height : 140px;
    width : 100%;
    padding : 0px;
    border : 0px;
    margin : 0px;
}

.organizer-workspace-trash {
    display : block;
    position : absolute;
    right : 40px;
    bottom : 40px;
    height : 60px;
}

#organizer-dialog-form {
    margin : 25px;
    text-align : left;
}

#organizer-dialog-form ul {
    list-style : none;
}

#organizer-dialog-form li {
    margin : 0 0 2em 0;
}

.organizer-dialog-form-thumbnail-container {
    display : block;
    position : static;
    height : 80px;
    width : 80px;
    margin : 10px;
}
