.swiff-uploader-box a {
	display: none !important;
}

#UploaderBody {
    display : block;
    position : static;
    margin-left : 4em;
    width : 500px;
    height : auto;
}

#UploadStatus {
    padding: 10px 15px;
    width: 420px;
    border: 1px solid #eee;
}

.UploadSelectLink {
    display : inline;
    margin-top : 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-style: normal;
    color: #666666;
}

a.UploadSelectLink:link { color: #5b5b5b; text-decoration: underline }
a.UploadSelectLink:active { color: #5b5b5b; text-decoration: none }
a.UploadSelectLink:visited { color: #5b5b5b; text-decoration: none }
a.UploadSelectLink:hover { color: magenta; text-decoration: underline }

#UploadStatus .progress {
    background: url(../../FancyUpload/assets/progress-bar/progress.gif) no-repeat;
    background-position: +50% 0;
    margin-right: 0.5em;
    vertical-align: middle;
}

#UploadStatus .progress-text {
    font-size: 0.9em;
    font-weight: bold;
}

#UploadListContainer {
    display : block;
    position : static;
    margin : 0 0 0 4em;
    border : 0px;
    padding : 0 2em 0 0;
    width : 600px;
    height : auto;

    max-height : 800px;
    /* height : 100% - 100px; */
    overflow : auto;
}

#UploadList {
    list-style: none;
    width: 450px;
    margin: 0;
}

#UploadList li.UploadValidationError {
    padding-left: 44px;
    display: block;
    clear: left;
    line-height: 40px;
    color: #8a1f11;
    cursor: pointer;
    border-bottom: 1px solid #fbc2c4;
    background: #fbe3e4 url(../../images/cm/uploader/failed.png) no-repeat 4px 4px;
}

#UploadList li.file {
    border-bottom: 1px solid #eee;
    background: url(../../images/cm/uploader/file.png) no-repeat 4px 4px;
    overflow: auto;
}

#UploadList li.file.file-uploading {
    background-image: url(../../images/cm/uploader/uploading.png);
    background-color: #D9DDE9;
}

#UploadList li.file.file-success {
    background-image: url(../../images/cm/uploader/success.png);
}

#UploadList li.file.file-failed {
    background-image: url(../../images/cm/uploader/failed.png);
}

#UploadList li.file .file-name {
    font-size: 1.2em;
    margin-left: 44px;
    display: block;
    clear: left;
    line-height: 40px;
    height: 40px;
    font-weight: bold;
}

#UploadList li.file .file-size {
    font-size: 0.9em;
    line-height: 18px;
    float: right;
    margin-top: 2px;
    margin-right: 6px;
}

#UploadList li.file .file-info {
    display: block;
    margin-left: 44px;
    font-size: 0.9em;
    line-height: 20px;
}

#UploadList li.file .file-remove {
    clear: right;
    float: right;
    line-height: 18px;
    margin-right: 6px;
}

.UploaderLowerNavigation {
    display : block;
    position : static;
    margin : 10px 0 0 0;
    border : 0px;
    padding : 0px;
    width : 300px;
    height : 40px;
}
