<div class="ArchiveLowerNavigation">
    <% if @collection %>
      <%= link_to "Edit Image", edit_cm_archive_collection_image_path( @archive, @collection, @image ), :class => "NavLink" %>
      <%= link_to "Return To Collection", cm_archive_collection_path( @archive, @collection ), :class => "NavLink" %>
    <% else %>
      <%= link_to "Edit Image", edit_cm_archive_image_path( @archive, @image ), :class => "NavLink" %>
    <% end %>
    <%= link_to "Return To Archive", cm_archive_path( @archive ), :class => "NavLink" %>
</div>
